html { padding:10px; }

body {
    background-color:fcfcfc;
    font-family: monospace;
    font-size:15px;
    padding:0 20px 20px 20px;
    line-height:1.35em;
    margin:0;
    padding:0;
}

iframe { height: 100%;}