{% extends "base.html" %}

{% block page_title %}Blog Index - {% endblock %}

{% block page_content %}

<section>
    <span class="alpha">Post Archive</span>

    {% for post in object_list %}
    <article class="post">
        <span>
            {{ post.publish_date|date:"F j, Y" }}
        </span>
        <h1 class="title">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h1>

        <div class="body">
            {{ post.rendered_excerpt|safe|truncatewords_html:20 }}
        <a class="morelink alpha" href="{{ post.get_absolute_url }}">
        ♜♛</a>
        </div>
    </article>
    {% endfor %}
</section><!-- end section  -->

{% endblock %}