{% extends "base.html" %}

{% block page_title %}Blog Index - {% endblock %}

{% block page_content %}

<section>
    <header><h1>Tag: {{ tag_name }}</h1></header>
    {% for post in object_list %}
    <article>
        <div class="post-meta">
            <header>
                <h1><a href="{% url 'PostDetailView' post.slug %}">{{ post.title }}</a></h1>
                {{ post.publish_date|date:"F j, Y" }}
                <br />
                by <cite>{{ post.author }}</cite>
            </header>
                <p>
                    {% for tag in post.tags.all %}
                        <a href="{% url 'TagListView' tag.slug %}">{{ tag.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                     {% endfor %}
                </p>
        </div><!-- end post-meta  -->

        <div class="post-content">
            {{ post.rendered_excerpt|safe }}
            <footer>
                <a class="morelink epsilon" href="{% url 'PostDetailView' post.slug %}">Read article &rarr;</a>
            </footer>
        </div><!-- end post-content  -->
    </article>
    {% endfor %}
</section><!-- end section  -->

{% endblock %}